html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.landing-page{
    height: 100vh;
    background-image: url(img/1.jpg);
    background-size: cover;
    background-position: center;
    position: relative; 
}
.container h1{
    font-size: 50px;
    padding: 150px;
}
span{
    font-size: 70px;
    font-family:monospace;
}
.container h2{
    font-size: 25px;
    width: 30%;
    margin-left: 130px;
    font-family:sans-serif; 
}
.wrapper{
    vertical-align: top;
    margin-top: 40px;
    font-size: .1;
}

.box p{
    padding: 10px;  
}

.box-left{
    display: inline-block;
/*    border: 2px solid red;*/
    margin-left: 130px;
    color: white;
    background-color: black;
    width: 130px;
    height: 65px;
    vertical-align: top;
}
.box-right{
    display: inline-block;
/*    border: 2px solid red;*/
    margin-left:0px;
/*    margin-top: 10px;*/
    color: white;
/*    background-color: dimgray;*/
    width: 1300px;
    height: 65px;
    vertical-align: bottom;
    position: relative;
    
}
.box-left p{
    text-align: center;
    margin-top: 20px;
}
.box-right li{
    font-size: 11px;
    text-align: justify;
    margin-left: 10px;
    margin-top: 5px; 
}
.box-right:hover::after{
    transition: 2s;
    transform: scaleX(1);
}

.box-right::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    display: inline-block;
    transform: scaleX(0);
}
